<div class="main-wrapper">
  <h1 style="grid-area: titulo">Gatos</h1>
  <div class="botao-esquerdo-wrapper">
    <button
      class="botao-carrossel"
      (click)="controlScrollLeft()"
      id="slideBack"
      type="button"
    >
      ←
    </button>
  </div>
  <div id="container" class="card-cats">
    <div *ngFor="let gato of gatos">
      <app-card-pet
        *ngIf="gato.image"
        [name]="gato.name"
        [image]="gato.image.url"
        [description]="gato.description"
      ></app-card-pet>
    </div>
  </div>
  <div class="botao-direito-wrapper">
    <button
      class="botao-carrossel"
      (click)="controlScrollRight()"
      id="slide"
      type="button"
    >
      →
    </button>
  </div>
</div>
